<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greengrocer</title>
    <!-- CSS boot-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css"> 
    <link rel="icon" href="https://img2.gratispng.com/20180728/eof/kisspng-fruit-nl-vegetable-logo-de-fruit-box-5b5c57958dcc34.7841482515327783895808.jpg" alt="imagem de frutas" width="30" height="24" class="d-inline-block align-text-top">
</head>

<body>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <!--Navbar-->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://img2.gratispng.com/20180728/eof/kisspng-fruit-nl-vegetable-logo-de-fruit-box-5b5c57958dcc34.7841482515327783895808.jpg" alt="imagem de frutas" width="30" height="24" class="d-inline-block align-text-top">
            Greengrocer
          </a>
        </div>
      </nav>
    <h1>Cadastro de Produto</h1>
    <form action="{{ url_for('salvar')}}" method="POST">
        <label for="input-nome">Nome</label>
        <input type="text" id="input-nome" name="nome" />
        <label for="input-quantidade">Quantidade</label>
        <input type="number" id="input-quantidade" name="quantidade" />
        <label for="input-valor">Valor</label>
        <input type="number" id="input-valor" name="valor" />
        <label for="input-imagem">Imagem</label>
        </label>
        <input type="submit" />
    </form>
</body>

</html>