{% extends 'home.html' %}

{% block content %}
<html>
    <head>
        <title>Lista de Produtos</title>
    </head>
    <body>
        <a href="{{url_for('home')}}">Home</a>
        <h1>Lista de Produtos</h1>
        <div>
        {% for produto in produtos %}
            <p>{{ produto.get_nome() }}</p>
            <p>R$ {{ produto.get_preco() }}</p>
            <p><a href="{{url_for('exibir_produto', id=produto.get_id())}}">Ver mais</a></p>
        {% endfor %}
        </div>
    </body>
</html>